body{
    margin: 0;
    padding: 0;
    font-family: 'Gelasio', serif;
    font-family: 'Ribeye', cursive;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* Header Section */
.header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header-main.png);
    padding: 42px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li{
    display: inline-flex;
}
.header__menu-logo{
    font-family: Ribeye;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.nav-link:hover{
    color:#C9453B;
    transition: .5s;
}
.nav-li:not(:last-child){
    margin-right: 50px;
}

button{
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    width: 163px;
    height: 51px;
    background: #C9453B;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #FFFFFF;
    color:#C9453B;
    transition: 1s;
}
.header__content{
    margin: 212px 0 ;    
}
.glitch{
    font-family: Gelasio;
    font-weight: bold;
    font-size: 65px;
    color: #FFFFFF;
    max-width: 800px;
    position: relative;
}
/* animate title */
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch::before {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -1px 0 blue;
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

.glitch::before {
  clip: rect(44px, 450px, 56px, 0);
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(70px, 450px, 76px, 0);
  }
  10% {
    clip: rect(29px, 450px, 16px, 0);
  }
  20% {
    clip: rect(76px, 450px, 3px, 0);
  }
  30% {
    clip: rect(42px, 450px, 78px, 0);
  }
  40% {
    clip: rect(15px, 450px, 13px, 0);
  }
  50% {
    clip: rect(53px, 450px, 5px, 0);
  }
  60% {
    clip: rect(19px, 450px, 16px, 0);
  }
  70% {
    clip: rect(90px, 450px, 3px, 0);
  }
  80% {
    clip: rect(22px, 450px, 78px, 0);
  }
  90% {
    clip: rect(35px, 450px, 13px, 0);
  }
  100% {
    clip: rect(13px, 450px, 5px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(70px, 450px, 76px, 0);
  }
  20% {
    clip: rect(29px, 450px, 16px, 0);
  }
  40% {
    clip: rect(76px, 450px, 3px, 0);
  }
  60% {
    clip: rect(42px, 450px, 78px, 0);
  }
  80% {
    clip: rect(15px, 450px, 13px, 0);
  }
  100% {
    clip: rect(53px, 450px, 5px, 0);
  }
}
.header__content-text{
    font-family: Roboto;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 460px;
    margin: 40px 0;
}
.header__content-button{
    padding: 0 0 244px;
}

/* Location Section */

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: Gelasio;
    font-weight: 500;
    font-size: 43px;
    color: #000000;
    margin-bottom: 30px;
}
.pretitle{
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    opacity: 0.6;
    max-width: 735px;
    text-align: center;
}
.location__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location__content-card{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    max-width: 360px;
    margin: 50px 0 80px;
}
.location__content-card:not(:last-child){
    margin-right: 30px;
}
.location__content-card:hover{
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 6px 100px rgba(0, 0, 0, 0.08);
    transform: translate( 0, -20px);
    transition: 0.3s;
}
.location__content-card-title{
    margin: 35px 0;
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}
.location__content-card-pretitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    margin: 10px auto 35px;
    max-width: 290px;
}

/* Offers Section */

.offers__content-card-title, .blog__content-block-title{
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin: 15px 0 10px;
}
.offers__content-card-location, .offers__content-card-duration, .blog__content-block-text{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;
}
.offers__content-card-price, .offers__content-card-mark-number{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    display: inline-block;
}
.offers__content-card-loc{
    display: flex;
}
.offers__content-card-loc>img{
    margin-right: 5px;
}
.offers__content-card-loc-mark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
}
.offers__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 200px;
    cursor: pointer;
}
.offers__content-card:not(last-of-child){
    margin-right: 73px;
}
.offers__content-card:hover{
    background: rgb(245, 245, 245);
    width: 262px;
    transform: translate(0, -10px);
}
.slick-dots li button:before{
    top: -140px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #C9453B;
    margin: 0 3px;
  }
/* Blog Section */

.blog__content-block-1{
    max-width: 554px;
}
.blog__content-block-2{
    display: flex;
    align-items: center;
}
.blog__content-block-2:not(last-of-child){
    margin-bottom: 30px;
}
.blog__content-block-2-text{
    max-width: 250px;
    margin-left: 30px;
}
.blog__content-block-link, .footer__content-subscribe-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    text-decoration: none;
}

.blog__content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.blog__content-block-text{
    margin: 15px 0;
}

/* Footer Section */

.footer{
    background: #2694990A;
    padding: 70px 0;
}
.footer-logo{
    color: #000000;
    margin-bottom: 40px;
}
.footer-icon{
    margin-top: 20px;
}
.footer-icon>a:not(:last-child){
    margin-right: 27px;
}
.footer__content-contact-text, .footer__content-menu-li, .footer__content-subscribe-input, .footer__content-subscribe-input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #000000;
}
.footer__content-menu>div:not(:last-child){
    margin-bottom: 20px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__content-subscribe-title{
    margin-bottom: 45px;
}
.footer__content-subscribe-input{
    padding: 10px 100px 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}