body{
    margin: 0;
    padding: 0;
    font-family: 'Gelasio', serif;
    font-family: 'Ribeye', cursive;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(../img/header-main.png);
    padding: 42px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li{
    display: inline-flex;
}
.header__menu-logo{
    font-family: Ribeye;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-link:hover{
    color:#C9453B;
    transition: .5s;
}
.nav-li:not(:last-child){
    margin-right: 50px;
}

button{
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    width: 163px;
    height: 51px;
    background: #C9453B;
    border-radius: 5px;
    border: none
}
button:hover{
    background: #FFFFFF;
    color:#C9453B;
    transition: 1s;
}
.header__content{
    margin: 212px 0 ;    
}
.header__content-title{
    font-family: Gelasio;
    font-weight: bold;
    font-size: 65px;
    color: #FFFFFF;
    max-width: 800px;
}
.header__content-text{
    font-family: Roboto;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 460px;
    margin: 40px 0;
}
.header__content-button{
    padding: 0 0 244px;
}